version: "3.5"

services:
  traefik:
    image: traefik:v2.11.32
    restart: always
    command: ["traefik"]
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.entrypoints: "traefik"
      traefik.http.routers.traefik.rule: "PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
      traefik.http.routers.traefik.service: "api@internal"
      traefik.http.routers.traefik.middlewares: "traefik-ipwhitelist"
      traefik.http.middlewares.traefik-ipwhitelist.ipwhitelist.sourcerange: "10.10.0.0/24"
    networks:
      - traefik
    ports:
      - "10.10.0.1:8080:8080"
      - "80:80"
      - "443:443"
    deploy:
      placement:
        constraints:
          # Make the traefik service run only on the node with this label
          # as the node with it has the volume for the certificates
          - node.labels.traefik-public.traefik-public-certificates == true
    volumes:
      - ./traefik.toml:/etc/traefik/traefik.toml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/letsencrypt/acme.json:/acme.json

networks:
  traefik:
    driver: bridge
    name: traefik
