[global]
  checkNewVersion = true
  sendAnonymousUsage = false

[entryPoints]
  [entryPoints.traefik]
    address = ":8080"

  [entryPoints.web]
    address = ":80"

  [entryPoints.websecure]
    address = ":443"

[certificatesResolvers.letsencrypt.acme]
  email = "mark@mrh.io"
  storage = "/acme.json"

  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    # used during the challenge
    entryPoint = "web"

################################################################
# Traefik logs configuration
################################################################

[log]

#################################################################
# Observability
################################################################

[accessLog]

[metrics]
  [metrics.prometheus]
    entryPoint = "traefik"
    buckets = [0.1, 0.3, 1.2, 5.0]

[tracing]
  serviceName = "traefik"
  [tracing.jaeger]
    samplingServerURL = "http://jaeger:5778/sampling"
    localAgentHostPort = "http://jaeger:6831"

[ping]
  entryPoint = "traefik"


################################################################
# API and dashboard configuration
################################################################

# Enable API and dashboard
[api]
  dashboard = true
  insecure = false
  debug = false

################################################################
# Docker configuration backend
################################################################

# Enable Docker configuration backend
[providers.docker]
  endpoint = "unix:///var/run/docker.sock"
  defaultRule = "Host(`{{ normalize .Name }}`)"
  exposedByDefault = false
  network = "traefik"
  constraints = ""
